.cards-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    background-color: pink;
    padding: 3rem;
}

.card {
    display: grid;

}

.card img {
    width: 100%;
    
}

